.about {
    display: flex;
    flex-direction: reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about > .description {
    padding: 10px;
    max-width: min(400px, 100%);
    min-width: 400px;
}

.about > .photo {
    height: 70vh;
}

.photo > img {
    height: 100%;
}