.about {
    display: flex;
    flex-direction: reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about > .description {
    padding: 10px;
    max-width: min(450px, 100%);
    min-width: 390px;
}

.about > .photo {
    height: 70vh;
    max-width: min(450px, 100%);
}

.photo > img {
    width: 100%;
}