img {
    width: 100%;
}

.details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    flex-grow: 1;
    position: relative;
}

.details-container > .images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: min(550px, 100%);
    flex: 2;
}

.details-container > .content {
    top: 0px;
    position: sticky;
    height: fit-content;
    width: min(300px, 100%);
}