img {
    width: 100%;
}

.details-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 50px;
    flex-grow: 1;
}

.details-container > .images {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 550px;
    flex: 2;
}

.details-container > .content {
    top: 0px;
    position: sticky;
}