---
layout: default
---
<!-- <script src="{{ "/assets/js/script.js" | relative_url }}"></script> -->
<div class="card-collection">
    {% for entry in site.portfolio %}
    {% if entry.tag == page.category %}
    <div class="card">
        <a href="{% link {{ entry.path }} %}"git>
            <!-- <img src="{{ entry.images[0] }}" alt="test"> -->
            {% responsive_image_block %}
            path: {{ entry.images[0] }}
            {% endresponsive_image_block %}
        </a>
    </div>
    {% endif %}
    {% endfor %}
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=1" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=2" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=3" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=4" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=5" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=6" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=7" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=8" alt=""></div>
    <div class="card"><img src="https://source.unsplash.com/category/illustration/300x300?sig=9" alt=""></div>
</div>